<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-button>
        <ion-img
          slot="start"
          src="assets/bmo_logo.svg"
          style="height: 2em; padding-left: 1em"
        ></ion-img>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="chatbubbles-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="mail-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content
  [fullscreen]="true"
  style="--ion-background-color: var(--ion-color-light)"
>
  <ion-tabs style="--ion-background-color: #fff">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home" color="primary"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button tab="radio">
        <ion-icon name="wallet-outline"></ion-icon>
        Pay &amp; Transfer
      </ion-tab-button>
      <ion-tab-button tab="library">
        <ion-icon name="menu"></ion-icon>
        More
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <div
    style="
      background: url(assets/background.svg);
      height: 14em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 2em;
    "
  >
    <h2
      style="
        margin: 0;
        font-weight: 200;
        color: var(--ion-color-light);
        padding-left: 1rem;
      "
    >
      Good morning, <br /><strong>Super Rich LLC</strong>
    </h2>
    <div
      style="
        color: var(--ion-color-light);
        padding-left: 1rem;
        padding-top: 1em;
        display: flex;
        align-items: center;
      "
    >
      <ion-icon name="calendar"></ion-icon>
      <div style="padding-left: 0.5em">Today is Monday, May 13, 2024</div>
    </div>
  </div>

  <div style="cursor: pointer">
    <ion-note
      color="primary"
      style="margin-left: 1em; display: flex; align-items: center"
    >
      <ion-icon name="chevron-down" style="margin-right: 0.5em"></ion-icon>
      <strong>Deposits</strong>
    </ion-note>
  </div>

  @for (account of accountService.getAccounts(); track account.id) {
  <ion-card
    [id]="'modal-account-' + account.id"
    style="cursor: pointer; margin-bottom: 1em; --ion-background-color: #fff"
  >
    <ion-card-header>
      <ion-card-title>{{ account.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content
      style="
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      "
    >
      <div
        style="
          display: flex;
          justify-content: space-between;
          flex: 1;
          flex-direction: column;
        "
      >
        <div
          style="
            height: 0.5em;
            background: var(--ion-color-secondary);
            border-radius: 0.5em;
            width: 30%;
            margin-bottom: 2em;
          "
        ></div>
        <div>{{ account.number }}</div>
      </div>

      <div style="text-align: right">
        <div>Available balance</div>
        <div style="color: var(--ion-color-primary); font-size: 2em">
          ${{ account.balance.toFixed(2) }}
        </div>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-modal #modal [trigger]="'modal-account-' + account.id">
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-buttons slot="start">
            <ion-button (click)="modal.dismiss()">Cancel</ion-button>
          </ion-buttons>
          <ion-title
            >Tranfer to: {{ account.number.slice(-8) }} (${{
            account.balance.toFixed(2) }})</ion-title
          >
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-select #fromAccountId label="From Account">
            @for (transferFromAccount of accountService.getAccounts(); track
            transferFromAccount.id) { @if (account.id !==
            transferFromAccount.id) {
            <ion-select-option [value]="transferFromAccount.id"
              >{{ transferFromAccount.name }} - ${{
              transferFromAccount.balance.toFixed(2) }}</ion-select-option
            >

            } }
          </ion-select>
        </ion-item>
        <ion-item style="margin-bottom: 2em">
          <ion-input
            #amountToTransfer
            label="Amount"
            type="number"
            min="0"
          ></ion-input>
          @if (!!amountToTransfer.value && !!fromAccountId.value &&
          $any(amountToTransfer.value >
          $any(accountService.getAccountById(fromAccountId.value).balance))) {
          <ion-note slot="end" style="color: var(--ion-color-danger)"
            >Insuficient Funds</ion-note
          >
          }
        </ion-item>
        <ion-button
          [disabled]="!fromAccountId.value || !amountToTransfer.value || ($any(amountToTransfer.value) > accountService.getAccountById(fromAccountId.value).balance)"
          [strong]="true"
          expand="block"
          (click)="transferTo(fromAccountId.value, account.id, $any(amountToTransfer.value), $any(modal))"
          >Tranfer</ion-button
        >
      </ion-content>
    </ng-template>
  </ion-modal>
  }
</ion-content>
